.my-card:hover {
    background-color: #fbfbfb !important
}

.odborky::after {
    content: "";
    flex-basis: 400px;
}

.active-section {
    text-decoration: none;
}

.active-section:hover {
    text-decoration: none !important;
}

.my-badge {
    transform: rotate(-45deg);
    width: 80px;
    position: absolute;
    top: 35px;
    left: 10px;
    height: 25px;
    color: white;
    background: #0977ab;
}

.card-title {
    max-width: 120px;
    word-wrap: break-word;
}

.card-btns {
    bottom: -10px;
    left: 50%;

    border-radius: 50px !important;

    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    /*visibility: hidden !important;*/
}

.card-btn {
    border-radius: 50px !important;
}

.my-card:hover .card-btns {
    visibility: visible !important;
    bottom: 0 !important;
}

@media screen and (min-width: 992px) {
    .fixed-sidebar {
        border-left: 1px solid #ececec;
        padding-left: 30px !important;
    }
}

.fixed-sidebar{
    position: relative;
    width: inherit;
}

.fixed-sidebar h4{
    margin-bottom: 25px;
}


@media screen and (min-width: 766px) {
    .fixed-sidebar{
        position: fixed;
        max-width: 380px;
        width: inherit;
        padding: 0 20px 0 0;
    }
}

.section-category {
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    background-size: cover;
    z-index: -5;
}

@media screen and (min-width: 330px) {
    .section-category {
        margin-bottom: 0.75rem !important;
        padding: 0.75rem !important;
    }
}

@media screen and (min-width: 766px) {
    .section-category {
        margin-bottom: 2rem !important;
        padding: 2rem !important;
    }
}

