body, html {
	height: 100%;
}

.bg {	
    height: calc(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
	z-index: -5;
}

.bg-2 {
	height: calc(100%);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -5;
}

.home-card{
	width: 100%;
	padding: 10px;
}

.home-box{
	display: flex;
	justify-content: center;
    margin-top: 4rem;
    margin-right: 0;
}

.navbar-inner{
	display: flex;
}

@media only screen and (min-width: 350px) {
	.home-card{
		width: 350px;
		padding: 0;
	}
}

@media only screen and (min-width: 768px) {
	.home-box{
		justify-content: flex-end;
		margin-right: 6rem;
		margin-top: 10rem;
	}
}

.my-content{
	padding: 3rem 2rem;
	padding-top: calc(65px + 2rem);
	min-height: calc(100% - 64px);
}

.my-navbar{
	display: flex;
    width: 100%;
}

.navbar-toggler, .navbar-brand{
	display: flex;
    position: relative;
}

@media only screen and (min-width: 992px) {
	.mobile-menu{
		margin-top: 0;
	}

	.home-btn-title{
		font-size: 1.6rem;
		font-weight: 700;
		padding: 8px 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (min-width: 1650px) {
	.my-content{
		width: 1650px;
		margin: 0 auto;
	}
	.my-navbar{
		width: 1650px;
    	margin: 0 auto;
	}
}


.nav-link.active{
	color: rgba(0,0,0,.9);
    font-weight: 600;
    padding-left: 10px;
}

.home-arrow{
	margin-left: 10px;
}

.home-title{
    font-size: 1.2rem;
    font-weight: 600;
}

.activity-description{
	background-color: rgb(255 255 255 / 70%);
    padding: 10px 14px;
    border-radius: 10px;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
}


/* https://codepen.io/merkund/pen/EGpOEr */
.home-title {
	border: none !important;
	-webkit-appearance: none;
	background: linear-gradient(to right, #EF5358 0%, #D88F4A 50%, #D88F4A 100%);
	background-size: 500%;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	color: white;
	cursor: pointer;
	font: 1.5em Raleway, sans-serif;
	letter-spacing: .05em;
}

.home-title:hover {
	animation-name: gradient;
	-webkit-animation-name: gradient;
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100%
	}
}