.odborky .my-card{
	display: "inline-block";
	cursor: "pointer";
	background-color: "rgba(255, 255, 255, 0.5)";
	z-index: "99";
}

.odborky .card{
	padding: 0.25rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.aktivity-section{
	padding-top: 0rem;
}

.odborky .card-img-top{
	max-width: 150px;
	padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

.odborky .card-title{
	margin: 0 auto;
    padding: 10px 0;
}