.my-activities-container {
  width: 100%;
  margin: 0 auto;
}

.my-card {
  justify-content: center;
  padding: 1rem 0.8rem 0;
  margin-bottom: 1.5rem;
  background-color: white;
}


.my-activity-progressbar {
  width: calc(100% - 65px) !important;
  display: inline-flex;
  margin-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0;
}

.none-subtasks-waiting .my-activity-progressbar {
	width: 100% !important;
	display: inline-flex;
	margin-top: 0 !important;
	padding-left: 0 !important;
	padding-right: 0;
  }

.my-activity-badge {
  display: flex;
  max-width: 60px !important;
  height: auto;
  align-self: center;
  padding: 0 5px;
  justify-content: center;
}

.button-margin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.badge {
  justify-self: center;
  align-self: center;
}

@media only screen and (min-width: 1070px) {
  .my-activities-container {
    width: 1070px;
  }
}

@media only screen and (min-width: 780px) {
  .my-card {
    padding: 2rem 1.5rem 0px;
  }
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.pulse {
  animation: pulse-animation 1.5s 3;
}


.progress-card {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
  border-radius: 10px;
}

.waiting-check > input[type=checkbox] {
  background-image: url("./dash.png") !important;
  background-color: #EAE2B6 !important;
  border-color: #EAE2B6 !important;
}

.done-check > input[type=checkbox] {
  background-color: #558776 !important;
  border-color: #558776 !important;
}

/*.progress {*/
/*  background-color: #EAE2B6 !important*/
/*}*/

/*.progress-bar{*/
/*  background-color: #558776 !important*/
/*}*/

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
