.my-activities-container{
	width: 100%;
	margin: 0 auto;
}

.my-card{
    justify-content: center;
    padding: 2rem 1.5rem 0px;
    margin-bottom: 1.5rem;
    background-color: white;
}

.my-activity-progressbar{
	width: calc(100% - 65px) !important;
	display: inline-flex;
    margin-top: 0 !important;
	padding-left: 0 !important;
}
.my-activity-badge{
	display: flex;
    max-width: 60px !important;
    height: auto;
    align-self: center;
    padding: 0 5px;
    justify-content: center;
}

@media only screen and (min-width: 1070px) {
	.my-activities-container{
		width: 1070px;
	}
}
