/*body {*/
/*    background-image: url("https://st2.depositphotos.com/3580719/10445/v/950/depositphotos_104453362-stock-illustration-seamless-background-with-simple-hand.jpg")*/
/*}*/

.demo-wrap {
    overflow: hidden;
    position: relative;
}

.demo-bg {
    opacity: 0.05;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.demo-content {
    position: relative;
}

.my-tabs {
    display: flex;
}

.my-tabs:nth-child(-n+3) {
    margin-left: auto;
}

.my-tabs:nth-last-child(-n+3) {
    margin-right: auto;
}

.checked-state > label {
    text-decoration: line-through !important;
}

/*.navbar-collapse {*/
/*    position: fixed;*/
/*    top: 100px;*/
/*    right: 0;*/
/*}*/

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}